body{
    background: #F2F1E8;
    font-family: 'Merriweather', 'Roboto', serif;
    color: #131511;
    margin: 0 auto;
}

 header{
    /* position: fixed; */
    margin: 0;
    width: 100%; 

}
nav{
    box-shadow: 0px 3px 3px #E5E4DF; 
}
.nav-bar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;  
}

.nav-bar a{
    color: #2B2F26;
    padding: 20px;
    text-transform: uppercase;
}

.nav-logo img{
    align-self: center;
    height: 40px;
    width: 40px;
    margin: .5rem;
}
.nav-links{
    display:flex;
    align-content: center;
}

 /* .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}  */

 /* .imageGroup{
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between; */

 /* .imageHolder30{
    width: 200px;
    height: 100px;
}

.imageHolder50{
    width: 75px;
    height: 100px;
} 

.imageHolder10{
    width: 40px;
    height: 100px;
}  

.imageHolder5{
    width: 55px;
    height: 100px; */ 


 
  #newsLetterBody {
    background-image: url("./images/optimized/background-2.jpg"); 
    background-size: 100%; 
}  

form{
    top: 500px;
    background-color: white; 
    margin-right: 200px;
    margin-left: 200px;

}  

footer{
    color: #F2F1E8;
    padding: 1rem;
    background-color: #131511;
}  

 /* #img1{
    width: 100px;
    height: 100px; 
}  */

/* About section Specific:*/ 
 .firstSection{
    margin: 20px 150px;
    font-size: 16px;
    line-height: 2.5rem;
} 
.quote{
    margin: 60px 150px;
    padding-left: 20px;
    font-size: 21px;
    line-height: 2.5rem;
    border-left: 2.5px solid #968772;
}
.Facilities{
    margin: 20px 150px;
    font-size: 16px;
    line-height: 2.5rem;
}
.History{
    margin: 20px 150px;
    font-size: 16px;
    line-height: 2.5rem;
}
.Table{
    margin: 20px 150px;
    font-size: 16px;
    line-height: 2.5rem;
}
h1{
    font-size: 4rem;
    text-align: center;
    font-weight: 400;
    margin-top: 45px; 
}
h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}
h4{
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
}

 #roomToGrow{
    overflow: hidden; 
    height: 400px; 
} 
.birdHouseImg{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px; 
}
table {
    border-collapse: collapse;
}
table, thead, {
    border: 1px solid #968772;
}
tbody {
    border: 1px solid #968772;
}
/*home*/



.productImages{
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box
}
.productImages .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.productImages p{
    background-color: #2B2F26;
    color: #F2F1E8;
    padding: 10px;
    align-self: flex-end;
    font-size: 1.4em;
}
.box{
    display: flex;
    flex: 1;
    height: 55vh;
    margin: 5px;
}
.sm-box{
    display: flex;
    flex: 1;
    height: 35vh;
    margin: 5px;
}
.box:first-child {
    flex: 3;
}
.sm-box:nth-child(3){
    flex: 2;
}


#Endless{
    background-image: url("./images/optimized/product-1.jpg");
    background-size: cover;
}
#Sets{
    background-image: url("./images/optimized/product-2.jpg");
    background-size: cover;
}
#Textures{
    background-image: url("./images/optimized/product-3.jpg");
    background-size: cover;
}    
#Teatime{
    background-image: url("./images/optimized/product-4.jpg");
    background-size: cover;
}
#Jars{
    background-image: url("./images/optimized/product-5.jpg");
    background-size: cover;
}
#Wasabi{
    background-image: url("./images/optimized/product-6.jpg");
    background-size: cover;
}
#Sippin{
    background-image: url("./images/optimized/product-7.jpg");
    background-size: cover;
}

/* specific to newsletter*/

input[type=text], input[type=email] {
    /* display: flex;
    justify-content: center; */
    margin-left: 50px;
    font-size: 21px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #968772;
    width: 80%;
    padding: 12px 20px;
}

input[type=submit] {
    display: block;
    padding: 20px;
    color: white;
    background-color: #968772;
    border: none;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
}
