body{
    background: #F2F1E8;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

header{
    position: fixed;
    margin: 0;
    width: 100%;

}
nav{
    box-shadow: 0px 3px 3px #E5E4DF; 
}
.nav-bar{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;  
}

.nav-bar a{
    color: #2B2F26;
    padding: 20px;
    text-transform: uppercase;
}

.nav-logo img{
    align-self: center;
    height: 40px;
    width: 40px;
    margin: .5rem;
}
.nav-links{
    display:flex;
    align-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}

.img1{
    margin: .5rem;
}

.img2{
    width: 5px;
}

.img3{
    width: 5px;
}

.img4{
    width: 5px;
}

.img5{
    width: 5px;
}

.img6{
    width: 5px;
}

.img7{
    width: 5px;
} 
 
 #newsLetterBody {
    background-image: url("./images/optimized/background-2.jpg"); 
    background-size: 100%;
} 

form{
    position: relative;
    top: 200px;
    background-color: white;
}

footer{
    padding: 2rem;
    background-color: 
}